.buttons {
    border: solid;
    width: 601px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.buttons .stop {
    margin-left: 15px;
}

.buttons .clear {
    margin-left: 15px;
}


.board {
    border-top: solid;
    border-left: solid;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 601px;
    height: 361px;
}

/****** .cell and .alive_cell need to be exact same except for background color ********/

.cell {
    border-right: solid;
    border-bottom: solid;
    float: left;
    border-width: 1px;
    height: 12px;
    width: 12px;
}

.alive_cell {
    background: red;
    border-right: solid;
    border-bottom: solid;
    float: left;
    border-width: 1px;
    height: 12px;
    width: 12px;
}





